<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Banana Bread</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css"/>

    <style>
        body {
            background-color: #d87e08;
        }

        #full {
            width: 75%;
            margin: 0 auto;
            padding: 2%;
            background-color: #f9d9ae;
        }

    </style>
</head>
<body>
    <div id="full">
        <header>
            <h1>Hawaiian Banana Nut Bread</h1>
            <img src="https://images.media-allrecipes.com/userphotos/560x315/727738.jpg" alt="Hawaiian Banana Nut Bread"/>
            <p><a href="/">Return to recipes</a></p>
        </header>

        <section id="ingredients">
            <h4>Ingredients</h4>
            <ul>
                <li>3 cups all-purpose flour</li>
                <li>4/3 tsp. salt</li>
                <li>1 tsp. baking soda</li>
                <li>2 cups white sugar</li>
                <li>1 tsp. ground cinnamon</li>
                <li>1 cup chopped walnuts</li>
                <li>3 eggs, beaten</li>
                <li>1 cup vegetable oil</li>
                <li>2 cups mashed very ripe banana</li>
                <li>1(8 ounce) can crushed pineapple, drained</li>
                <li>2 tsp. vanilla extract</li>
                <li>1 cup flaked coconut</li>
                <li>1 cup maraschino cherries, diced</li>
            </ul>
        </section>
        <section id="directions">
            <h4>Directions</h4>
            <ol>
                <li>
                    Preheat oven to 350 degrees F 175 degrees C). Grease two
                    9x5 inch loaf pans.
                </li>
                <li>
                    In a large mixing bowl, combine the flour, salt, baking soda,
                    sugar and cinnamon. Add the walnuts, eggs, oil, banana, pineapple,
                     vanilla, coconut and cherries: stir just until blended. Pour
                    batter evenly into the prepared pans.
                </li>
                <li>
                    Bake at 350 degrees F (175 degrees C) for 60 minutes, or until a
                    tooth pick inserted into the center of a loaf comes out clean.
                    Cool in the pan for 10 minutes, then remove to a wire rack to cool completely.
                </li>
            </ol>
        </section>
        <footer>
            <h3>ENJOY!</h3>
            <p><a href="/">Return to recipes</a></p>
        </footer>
    </div>
</body>
</html>