<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chocolate Chip Cookies</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css"/>

    <style>
        body {
            background-color: #331e01;
        }

        #full {
            width: 75%;
            margin: 0 auto;
            padding: 2%;
            background-color: #d1a262;
        }


    </style>

</head>
<body>
<div id="full">
    <header>
        <h1>Chocolate Chip Cookies</h1>
        <img src="/images/cookie.jpg" alt="Image of Chocolate Chip Cookies"/>
        <p><a href="/">Return to recipes</a></p>
    </header>

    <section id="ingredients">
        <h4>Ingredients</h4>
        <ul>
            <li>2 1/4 cups all-purpose flour</li>
            <li>1 1/ tsp. kosher salt</li>
            <li>1 tsp. baking soda</li>
            <li>1 cup unsalted butter, very soft</li>
            <li>1 cup white sugar</li>
            <li>1/2 cup light brown sugar</li>
            <li>1 large egg</li>
            <li>2 tbsp. milk</li>
            <li>1 1/4 tsp. vanilla extract</li>
            <li>2 cups semisweet chocolate chips</li>
        </ul>
    </section>
    <section id="directions">
        <h4>Directions</h4>
        <ol>
            <li>
                Whisk flour, salt, and baking soda together in a bowl. In a
                separate bowl, cream the butter, white sugar, and brown sugar
                together until mixture is light and fluffy, 3 to 4 minutes.
                Add the egg, milk, and vanilla extract. Whisk liquids together
                in small areas around the bowl, then all together to avoid separation.
            </li>
            <li>
                Pour dry ingredients into the wet ingredients; stir until flour
                is thoroughly mixed in. Stir in the chocolate chips.
            </li>
            <li>
                Transfer dough to a resealable plastic bag. Refrigerate until
                dough is firm, at least 2 hours.
            </li>
            <li>
                Preheat oven to 375 degrees F (190 degrees C). Line baking sheet
                with parchment paper.
            </li>
            <li>
                Scoop out rounded tablespoons of dough and place on prepared baking
                sheet, leaving 4 inches of space between cookies (about 8 per sheet).
                Bake in preheated oven until cookies are golden brown, about 12 minutes.
                Slide parchment and cookies onto a cooling rack for a few minutes.
                Remove parchment and finish cooling the cookies on the rack.
            </li>
        </ol>
    </section>
    <footer>
        <h3>ENJOY!</h3>
        <p><a href="/">Return to recipes</a></p>
    </footer>
</div>
</body>
</html>