<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Page</title>
</head>
<body>
<form action="processForm" method="get">
    <p>First Name:</p>
<input type="text" name="firstname" />
    <p>Last Name:</p>
    <input type="text" name="lastname"/>
    <p>Message:</p>
    <textarea name="posttext" id="posttext" rows="2" maxlength="141"></textarea>
    <br />
    <input type="submit" value="Submit" id="submit"/>
</form>

<p>Note that the form itself is not visible.</p>
<p>Also note that the default width of a text input field is 20 characters.</p>
<a href="/">Return to homepage</a>
</body>
</html>